/*--
Project Name: Cougar Rescue Forum
Course: CIS444
Description: This file is the stylesheet for the all Cougar Rescue Forum pages.
Last Validated: 10/21
*/

img {
	height: 50%;
	text-align:center;
	width: 50%;
}

body form {
	font-family: Georgia;
	font-size: 10pt;
	margin: auto;
	text-align:center;

}

.description {
	background-color: #e6eaf0;
	border: solid 1px #e6eaf0;
	border-radius: 4px;
	font-family: Georgia;
	margin: auto;
	margin-bottom: 3px;
	text-align: center;
	
}
.pagestyle {
	background-image: url('images/csusm.png');
	
}
.inputstyle  {
	background-color: #e6eaf0;
	border: solid 1px black;
	border-radius: 8px;
	font-family: Georgia;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;

	
}

.submitstyle {
	background-color: #0259A8;
	border: none;
	border-radius: 15px;
	color: #e6eaf0;
	font-family:Georgia;
	margin-top: 10px;
	padding: 8px;
	text-align: center;	
}
.adminlogin {
	background-color: #e6eaf0;
	border: none;
	border-radius: 15px;
	color: #0259A8;
	font-family:Georgia;
	margin-top: 10px;
	padding: 8px;
	text-align: center;	
}
.inputcontainer {
	border: solid 1px #e6eaf0;
	border-radius: 4px;
	font-family: Georgia;
	margin: auto;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;

}


.formstyle {
	background-color: #8ec0e7;
	border: solid 1px black;
	border-radius: 4px;
	font-family: Georgia;
	margin: 20px 350px 10px 350px;
	padding: 10px;	
	text-align: center;

	
}


/*Responsive*/
@media screen and (max-width:800px) {
	img {
		height: 50%;
		width: 50%;
		
	}
	.formstyle {
		margin: 20px 50px 10px 50px;
		
	}
	.navlist { 
		width: 98%;
		height: 10%;
	}
	.inputstyle {
		width: 17%;
	}

}


.invalid {
	background-color: #ff7a8c;
	border: solid 1px #d62f45;
	border-radius: 4px;
	font-family: Georgia;
	margin: auto;
	margin-bottom: 10px;
	text-align: center;
	visibility: hidden;
}

h1, h2 {
	color: #f2f2f2;
	font-family: Georgia;
	font-size: 12pt;
	text-align: center;
}

 

.navlist { 
	/*border-radius:25px; */
	background-color: #8EC0E7;
	border-radius: 10px;	
	left: 6px;	
	margin-left:1px;
	position: absolute;
	text-align: center;
	top: 4px;
	width: 99%;
	height: 7%;
} 
 
/* styling navlist anchor element */ 
.navlist a { 
	color: #f2f2f2; 
	display: block; 
	float:right; 
	font-family: Georgia;
	font-size: 12pt; 
	padding: 11px; 
	text-align: center; 
	text-decoration: none; 
} 
  
.navlist-right{ 
	float:right; 
} 

/* hover effect of navlist anchor element */ 
.navlist a:hover { 
	cursor: pointer;
} 
	  
/* styling search bar */ 
.search input[type=text]{ 
	border: none; 
	border-radius:25px;
	font-family: Georgia;
	height:25px;
	width:300px; 
} 
	  
.search{ 
	float:left; 
	position: relative;
	top: 7px;
	
} 
	  
.search button{ 
	background-color: transparent; 
	border: none; 
	color: #ffffff;
	cursor: pointer; 
	float: right;
	font-size: 12px; 
	padding: 5px 10px;
	
} 

.logo {
	float: left;
	height: 36px;
	left: 5px;
	margin-right: 10px;	
	position:relative;
	top:1px;
	width: 36px;
	
}

.admin {
	font-style: italic;
	left: 10px;
	position: absolute;
	top: 50px;
}
.adminsubheadings {
	
	position: relative;
	text-align: left;
	top: 100px;	
}


.searchresults {
	background-color: #e6eaf0;
	border: solid 1px #0259A8;
	border-radius: 4px; 
	font-family:Georgia;
	font-size: 11pt;
	padding: 3px;
	position: relative; 
	top: 100px;
	
}

.bolded {
	font-weight: bold;
}

table {
	width: 100%;
}

th, tr,  td {
	border: solid 1px #0259A8;
	font-family:Georgia;
	font-size: 11pt;
	padding: 3px;
	position: relative; 
	text-align:center;
}


.delete {
	background-color: #e6eaf0;
	border: none;
	color: red;
	text-align: center;
}
.enable {
	background-color: #e6eaf0;
	border: none;
	color: green;
	text-align: center;
}
.logoutNav {
	background-color: transparent;
	border: none;
	border-radius: 10px;
	color: #f2f2f2;
	float: right;
	font-family: Georgia;
	font-size: 12pt; 
	height:7%;
	padding: 11px; 
	text-align: center; 
	
}
button:hover {
	cursor: pointer;
}
:focus{
	cursor: auto;
	outline: none;
	
}

.hiddenStyle {
	color: #f2f2f2;
	font-family:Georgia;
	font-size: 11pt;
	position: relative;
	text-align: left;
	top: 100px;
	visibility: hidden;
}