/*
    This is the stylesheet for the main.html
*/
body{
    margin: 0 auto;
}

.forum-div{
    margin: auto;
    margin-top: 4em;
    padding-top: 1em;
    text-align: center;
    width: 90%;
}
.table-format{
    background-color: white;
    border: 2px solid #8ec0e7;
    display: flex;
    flex-direction: row;
    font-size: larger;
    justify-content: space-between;
}
.item-forum{
    border-right: 2px solid #8ec0e7;
    display: flex;
    flex-basis: 80%;
    flex-direction: row;
}
.item-post{
    border-right: 2px solid #8ec0e7;
    flex-basis: 10%;
}
.item-date{
    flex-basis: 10%;
}
.item-category{
    display: flex;
    flex-direction: row;
    /*border-right: 2px solid #8ec0e7;*/
}
.sub-title{
    display:flex;
    flex-direction: column;
    padding-left: 1em;
    text-align: start;
}
.sub-heading{
    text-decoration: none;
}
.sub-description{
    color: slategrey;
    font-size: 8px;
    font-weight: normal;
}
.sub-icon{
    font-size: larger;
}

.table-no-border{
    border: none;
    font-family: 'Helvetica';
}

